*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

.container{
    background-color: #111111;
}
.greeting{
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.greeting__text{
    flex: 3;
}
.greeting__text h1{
    font-size: 60vh;
    color: #333333; 
    cursor: default;
    /* колір тексту можна зробити цікавим переливаючим гредієнтом */
}
.greeting__img{
    flex: 1;
}
.greeting__img img{
    width: 100%;
}
.name{
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rebeccapurple;
}
.name__text{
}
.name__text h2{
    font-size: 18vw;
    color: rgb(24, 5, 9);
    cursor: default;
}
.profession{
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    background: url('./img/bg1.png');
}
.profession h2{
    font-size: 15vw;
    color: orchid;
    cursor: default;
}
.cat-love{
    height: 60vh;
    display: flex;
    text-align: center;
    align-items: center;
    background: rebeccapurple url('./img/bg2.png');
}
.cat-love h2{
    font-size: 10vw;
    color: rgb(24, 5, 9);
    cursor: default;
}
.projects{
    display: flex;
    flex-direction: column;
    gap: 30vw;
    padding: 0 100px;
    

}
.projects-title{
    font-size: 10vw;
    color: #333333;
}
.project{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 100px;
    height: 100vh;
    overflow: hidden;

}
.project-reverse{
    flex-direction: row-reverse;
}
.phone{
    flex: 1;
    height: 600px;
    width: 300px;
    position: relative;
}
.phone img{

}
.scren{
    width: 264px;
    height: 567px;
    overflow: scroll;
    position: absolute;
    top: 17px;
    left: 18px;
    border-radius: 26px;
}
.scren::-webkit-scrollbar{
    display: none;
}
.phone-app{
    width: 100%;
}
.project__detail{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;

}
.project__title{
    font-size: 8vw;
    color: #555;


}
.ptoject__description{
    font-size: 20px;
    color: #555;
    text-align: justify;
    line-height: 25px;
    
}
.project__button{
    padding: 15px 20px;
    background-color: transparent;
    color: #333;
    border: 1px solid #555;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.project__button::after{
    content: "View Demo";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: #555;
    color: #111111;
    text-align: center;
    transition: all 800ms ease;
    padding: 15px 0;
}
.project__button:hover::after{
    left: 0;
}
.laptope {
    flex: 1;
    height: 600px;
    width: 700px;
    position: relative;
}
.laptope__scren{
    width: 620px;
    height: 567px;
    overflow: scroll;
    position: absolute;
    top: 17px;
    left: 18px;
    border-radius: 26px;
}
.laptope__scren::-webkit-scrollbar{
    display: none;
}
.laptope-app {
    width: 100%;
}